# Nextflow runtime
work/
.nextflow/
.nextflow.log*
null/
fetchngs_results/

# Pipeline outputs
results/

# Jupyter
.ipynb_checkpoints/
day_04/fastqc_manual/
day_04/fastqc_results/
day_03/results_paper/
